# Основные зависимости
fastapi==0.110.0
uvicorn==0.27.1
python-dotenv==1.0.1
pydantic==2.6.1
aiohttp==3.9.3
httpx==0.26.0
python-multipart==0.0.9

# Для работы с изображениями
Pillow==10.2.0
requests==2.31.0

# Для асинхронной работы
asyncio==3.4.3
aiofiles==23.2.1

# Для логирования
loguru==0.7.2

# Для работы с датами
python-dateutil==2.8.2

# Для кеширования
redis==5.0.1 